altgraph==0.17
certifi==2020.12.5
chardet==4.0.0
docutils==0.17.1
future==0.18.2
idna==2.10
importlib-metadata==4.0.1
Kivy==2.0.0
kivy-deps.angle==0.3.0
kivy-deps.glew==0.3.0
kivy-deps.sdl2==0.3.1
Kivy-Garden==0.1.4
pefile==2021.5.13
Pillow==8.2.0
Pygments==2.9.0
pypiwin32==223
pywin32==300
pywin32-ctypes==0.2.0
requests==2.25.1
typing-extensions==3.10.0.0
urllib3==1.26.4
zipp==3.4.1
wheel==0.36.2